version: "3.9"

services:
  postgres:
    image: postgres:15.0
    environment:
      POSTGRES_DB: "dev"
      POSTGRES_USER: "dev"
      POSTGRES_PASSWORD: "localpass"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    container_name: "sakura-postgres"
    volumes:
      - .:/var/lib/postgresql/data
    ports:
      - "5400:5432"

#  redis:
#    image: redis:7.2-rc2
#    container_name: "sakura-redis"
#    command: >
#      --requirepass localpass
#    ports:
#      - "6300:6379"

  adminer:
    image: adminer
    container_name: "sakura-adminer"
    ports:
      - 8080:8080